[defaults]
inventory = inventory/hosts.yml
remote_user = ansible
host_key_checking = False
roles_path= roles
retry_files_enabled = False
deprecation_warnings=False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s

[logging]
log_path = ansible.log

